<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Chat App: Chat</title>
        <link rel="stylesheet" href="App.css">
    
    </head>
    <body>

        <!-- Header -->
        <div id="header-placeholder"></div>
        <script>
            fetch('header.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('header-placeholder').innerHTML = data;
                })
                .catch(err => console.error("Header failed to load:", err));
        </script>


        <div class="message-container">

            <h3 id="active-user">User: <span id="display-username"></span></h3>

            <div class="chat-container">
                <!-- rooms: devops, cloud computing, covid19, sports, nodeJS -->
                <div class="room-options">
                    <label for="select-room">Rooms: </label>
                    
                    <select id="select-room">
                        <option value="devops">devops</option>
                        <option value="cloud computing">cloud computing</option>
                        <option value="sports">sports</option>
                        <option value="covid19">covid19</option>
                        <option value="nodeJS">nodeJS</option>
                    </select>

                    <button id="join-button" onclick="joinRoom()">Join Room</button>
                    <button id="leave-button" onclick="leaveRoom()">Leave Room</button>
                </div>

                <div id="chat-window">
                    <!-- Empty to hold chat -->
                </div>

                <div class="input-section">

                    <div>
                       <textarea id="chat-input" placeholder="..."></textarea>
                        <button onclick="sendMessage()">send</button>
                    </div>
                </div>

                

        

            </div>
           
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="chat.js"></script>

    </body>
</html>