<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Chat App: Sign Up</title>
        <link rel="stylesheet" href="App.css">

    </head>
    <body>
        <div id="header-placeholder"></div>
        <script>
            fetch('header.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('header-placeholder').innerHTML = data;
                })
                .catch(err => console.error("Header failed to load:", err));
        </script>
        <div class="message-container">
        
            <h3>Create a new account</h3>

            <form id="sign-up-form">
                <p className="form-label">Username</p>
                <input className="form-input" type="text" id="username", placeholder="Username" required>
                <p className="form-label">First Name</p>
                <input className="form-input" type="text" id="firstname", placeholder="First Name" required>
                <p className="form-label">Last Name</p>
                <input className="form-input" type="text" id="lastname", placeholder="Last Name" required>
                <p className="form-label">Password</p>
                <input className="form-input" type="text" id="password", placeholder="Password" required>

                <button className="form-input" type="submit">Sign Up</button>
            </form>
            <p>Have an account? Sign in <a href="login.html">here</a></p>
          
        </div>
    </body>
        <script src="/socket.io/socket.io.js"></script>
        <script src="signup.js"></script>

</html>